body {
    margin: 5;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: grid;
    width: 100%;
    height: 95vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    grid-template-areas:
        "greeting greeting greeting greeting greeting"
        "todo todo clock calendar calculator"
        "todo todo clock calendar calculator"
        "todo todo clock quicklaunch quicklaunch";
}

.greeting {
    grid-area: greeting;
    text-align: center;
    background-color: white;
    opacity: 0.75;
}

.greeting #greeting {
    font-size: 20px;
    font-weight: bold;
    line-height: 50%;
}

.greeting #phrase {
    font-size: 40px;
    line-height: 10%;
}

.greeting #attribution {
    font-size: 20px;
    font-style: italic;
}

.todo {
    grid-area: todo;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid black;
    font-size: 40px;
    opacity: 0.75;
}

.todo .tasks {
    width: 98%;
    margin: 1% auto 0 auto;
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 35px;
    display: grid;
    grid-template-columns: 5px 5px 1fr 1fr 1fr 1fr;
    opacity: 1;
}

#todo {
    grid-column: 1/7;
    font-variant: small-caps;
}

.todo .when {
    grid-column: 2/7;
    font-size: 30px;
    border-top: 3px solid black;
    border-bottom: 1px solid slategray;
}

.todo .task {
    grid-column: 3/6;
    font-size: 25px;
}

.todo .due {
    grid-column: 6/7;
    font-size: 25px;
    text-align: right;
    margin-right: 5%;
}

.clock {
    grid-area: clock;
    text-align: center;
    font-size: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "."
        "dte"
        "."
        "tme"
        ".";
}

#dte {
    grid-area: dte;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    opacity: .75;
}

#dte #date {
    grid-row: 2/3;
    opacity: 1;
}

#tme {
    grid-area: tme;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 1 fr 1fr 1fr;
    opacity: .75;
}

#tme #time {
    grid-row: 2/3;
    opacity: 1;
    font-size: 75px;
}

.calendar {
    grid-area: calendar;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    text-align: center;
    margin-top: 22px;
}

.calendar #monthbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    border: 2px solid black;
}

#prevMonth {
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: 1px solid gray;
    text-align: left;
    padding: 3px 0 0 10px;
}

#month {
    grid-column: 2/7;
    grid-row: 1/2;
    border-bottom: 1px solid gray;
    font-size: 30px;
    font-variant: small-caps;
}

#nextMonth {
    grid-column: 7/8;
    grid-row: 1/2;
    border-bottom: 1px solid gray;
    text-align: right;
    padding: 3px 10px 0 0;
}

#sun {
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid gray;
    padding: 5px;
}

#mon {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 1px solid gray;
    padding: 5px;
}

#tue {
    grid-column: 3/4;
    grid-row: 2/3;
    border: 1px solid gray;
    padding: 5px;
}

#wed {
    grid-column: 4/5;
    grid-row: 2/3;
    border: 1px solid gray;
    padding: 5px;
}

#thu {
    grid-column: 5/6;
    grid-row: 2/3;
    border: 1px solid gray;
    padding: 5px;
}

#fri {
    grid-column: 6/7;
    grid-row: 2/3;
    border: 1px solid gray;
    padding: 5px;
}

#sat {
    grid-column: 7/8;
    grid-row: 2/3;
    border: 1px solid gray;
    padding: 5px;
}

#week1Sunday {
    grid-column: 1/2;
    grid-row: 3/4;
    border: 1px solid gray;
    padding: 5px;
}

#week1Monday {
    grid-column: 2/3;
    grid-row: 3/4;
    border: 1px solid gray;
    padding: 5px;
}

#week1Tuesday {
    grid-column: 3/4;
    grid-row: 3/4;
    border: 1px solid gray;
    padding: 5px;
}

#week1Wednesday {
    grid-column: 4/5;
    grid-row: 3/4;
    border: 1px solid gray;
    padding: 5px;
}

#week1Thursday {
    grid-column: 5/6;
    grid-row: 3/4;
    border: 1px solid gray;
    padding: 5px;
}

#week1Friday {
    grid-column: 6/7;
    grid-row: 3/4;
    border: 1px solid gray;
    padding: 5px;
}

#week1Saturday {
    grid-column: 7/8;
    grid-row: 3/4;
    border: 1px solid gray;
    padding: 5px;
}

#week2Sunday {
    grid-column: 1/2;
    grid-row: 4/5;
    border: 1px solid gray;
    padding: 5px;
}

#week2Monday {
    grid-column: 2/3;
    grid-row: 4/5;
    border: 1px solid gray;
    padding: 5px;
}

#week2Tuesday {
    grid-column: 3/4;
    grid-row: 4/5;
    border: 1px solid gray;
    padding: 5px;
}

#week2Wednesday {
    grid-column: 4/5;
    grid-row: 4/5;
    border: 1px solid gray;
    padding: 5px;
}

#week2Thursday {
    grid-column: 5/6;
    grid-row: 4/5;
    border: 1px solid gray;
    padding: 5px;
}

#week2Friday {
    grid-column: 6/7;
    grid-row: 4/5;
    border: 1px solid gray;
    padding: 5px;
}

#week2Saturday {
    grid-column: 7/8;
    grid-row: 4/5;
    border: 1px solid gray;
    padding: 5px;
}

#week3Sunday {
    grid-column: 1/2;
    grid-row: 5/6;
    border: 1px solid gray;
    padding: 5px;
}

#week3Monday {
    grid-column: 2/3;
    grid-row: 5/6;
    border: 1px solid gray;
    padding: 5px;
}

#week3Tuesday {
    grid-column: 3/4;
    grid-row: 5/6;
    border: 1px solid gray;
    padding: 5px;
}

#week3Wednesday {
    grid-column: 4/5;
    grid-row: 5/6;
    border: 1px solid gray;
    padding: 5px;
}

#week3Thursday {
    grid-column: 5/6;
    grid-row: 5/6;
    border: 1px solid gray;
    padding: 5px;
}

#week3Friday {
    grid-column: 6/7;
    grid-row: 5/6;
    border: 1px solid gray;
    padding: 5px;
}

#week3Saturday {
    grid-column: 7/8;
    grid-row: 5/6;
    border: 1px solid gray;
    padding: 5px;
}

#week4Sunday {
    grid-column: 1/2;
    grid-row: 6/7;
    border: 1px solid gray;
    padding: 5px;
}

#week4Monday {
    grid-column: 2/3;
    grid-row: 6/7;
    border: 1px solid gray;
    padding: 5px;
}

#week4Tuesday {
    grid-column: 3/4;
    grid-row: 6/7;
    border: 1px solid gray;
    padding: 5px;
}

#week4Wednesday {
    grid-column: 4/5;
    grid-row: 6/7;
    border: 1px solid gray;
    padding: 5px;
}

#week4Thursday {
    grid-column: 5/6;
    grid-row: 6/7;
    border: 1px solid gray;
    padding: 5px;
}

#week4Friday {
    grid-column: 6/7;
    grid-row: 6/7;
    border: 1px solid gray;
    padding: 5px;
}

#week4Saturday {
    grid-column: 7/8;
    grid-row: 6/7;
    border: 1px solid gray;
    padding: 5px;
}

#week5Sunday {
    grid-column: 1/2;
    grid-row: 7/8;
    border: 1px solid gray;
    padding: 5px;
}

#week5Monday {
    grid-column: 2/3;
    grid-row: 7/8;
    border: 1px solid gray;
    padding: 5px;
}

#week5Tuesday {
    grid-column: 3/4;
    grid-row: 7/8;
    border: 1px solid gray;
    padding: 5px;
}

#week5Wednesday {
    grid-column: 4/5;
    grid-row: 7/8;
    border: 1px solid gray;
    padding: 5px;
}

#week5Thursday {
    grid-column: 5/6;
    grid-row: 7/8;
    border: 1px solid gray;
    padding: 5px;
}

#week5Friday {
    grid-column: 6/7;
    grid-row: 7/8;
    border: 1px solid gray;
    padding: 5px;
}

#week5Saturday {
    grid-column: 7/8;
    grid-row: 7/8;
    border: 1px solid gray;
    padding: 5px;
}

.calculator {
    grid-area: calculator;
    width: calc(100% - 50px);
    height: 316px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "display display display display"
        "ac positive percent divide"
        "seven eight nine multiplication"
        "four five six minus"
        "one two three plus"
        "cero cero point equals";
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: slategray;
}

#display {
    grid-area: display;
    background-color: white;
    color: black;
    border:2px solid black;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#buttons01 {
    grid-area: buttons01;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    width: calc(90%-50px);
}

#buttons02 {
    grid-area: buttons02;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}

#buttons03 {
    grid-area: buttons03;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}

#buttons04 {
    grid-area: buttons04;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}

#buttons05 {
    grid-area: buttons05;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}

#ac {
    grid-area: ac;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 10px 5px 5px 10px;
}

#positive {
    grid-area: positive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 10px 5px 5px 5px;
}

#percent {
    grid-area: percent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 10px 5px 5px 5px;
}

#divide {
    grid-area: divide;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 25px;
    margin-left: 10px;
    margin: 10px 10px 5px 5px;
}

#seven {
    grid-area: seven;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 5px 10px;
}

#eight {
    grid-area: eight;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
}

#nine {
    grid-area: nine;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
}

#multiply {
    grid-area: multiplication;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 25px;
    margin-left: 10px;
    margin: 5px 10px 5px 5px;
}

#four {
    grid-area: four;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 5px 10px;
}

#five {
    grid-area: five;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
}

#six {
    grid-area: six;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
}

#minus {
    grid-area: minus;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 25px;
    margin-left: 10px;
    margin: 5px 10px 5px 5px;
}

#one {
    grid-area: one;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 5px 10px;
}

#two {
    grid-area: two;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
}

#three {
    grid-area: three;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
}

#plus {
    grid-area: plus;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 25px;
    margin: 5px 10px 5px 5px;
}

#zero {
    grid-area: cero;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 10px 10px;
}

#point {
    grid-area: point;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin: 5px 5px 10px 5px;
}

#equals {
    grid-area: equals;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border-radius: 25px;
    margin: 5px 10px 10px 5px;
}

.quicklaunch {
    grid-area: quicklaunch;
    display: grid;
    background-color: white;
    border: 2px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    grid-gap: 5px;
    padding: 10px;
    opacity: 0.75;
    grid-template-areas:
        "ql ql ql ql ql"
        "ql01 ql02 ql03 ql04 ql05"
        "ql06 ql07 ql08 ql09 ql10"
        "ql11 ql12 ql13 ql14 ql15";
}

.quicklaunch #ql {
    grid-area: ql;
    font-variant: small-caps;
    text-align: center;
    font-size: 40px;
    padding-top: 3px;
}

.quicklaunch #ql01 {
    grid-area: ql01;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql02 {
    grid-area: ql02;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql03 {
    grid-area: ql03;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql04 {
    grid-area: ql04;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql05 {
    grid-area: ql05;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql06 {
    grid-area: ql06;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql07 {
    grid-area: ql07;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql08 {
    grid-area: ql08;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql09 {
    grid-area: ql09;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql10 {
    grid-area: ql10;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql11 {
    grid-area: ql11;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql12 {
    grid-area: ql12;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql13 {
    grid-area: ql13;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql14 {
    grid-area: ql14;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

.quicklaunch #ql15 {
    grid-area: ql15;
    border: 2px solid slategray;
    border-radius: 25px;
    text-align: center;
}

@media (max-width: 415px) {
    body {
        background-image: none;
        margin: 5;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "greeting"
            "clock"
            "clock"
            "todo"
            "todo"
            "todo"
            "calendar"
            "calculator"
            "quicklaunch";
    }

    .greeting {
        text-align: center;
        background-color: white;
    }
    
    .greeting #greeting {
        font-size: 20px;
        font-weight: bold;
        line-height: 50%;
    }
    
    .greeting #phrase {
        font-size: 40px;
        line-height: 100%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .greeting #attribution {
        font-size: 20px;
        font-style: italic;
    }

    .todo {
        width: 90%;

    }

    .todo .tasks {
        width: 98%;
        margin: 1% auto 0 auto;
        grid-column: 1/5;
        grid-row: 1/2;
        font-size: 30px;
        display: grid;
        grid-template-columns: 5px 5px 1fr 1fr 1fr;
        opacity: 1;
    }

    #todo {
        grid-column: 1/7;
        font-variant: small-caps;
    }
    
    .todo .when {
        grid-column: 2/7;
        font-size: 25px;
        border-top: 3px solid black;
        border-bottom: 1px solid slategray;
    }
    
    .todo .task {
        grid-column: 3/6;
        font-size: 20px;
    }
    
    .todo .due {
        grid-column: 6/7;
        font-size: 20px;
        text-align: right;
        margin-right: 5%;
    }

    .clock {
        grid-area: clock;
        text-align: center;
        font-size: 35px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "dte"
            "tme";
    }

    #tme #time {
        grid-row: 2/3;
        opacity: 1;
        font-size: 50px;
    }

    .calendar {
        grid-area: calendar;
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        text-align: center;
        margin-top: 22px;
    }

    .calculator {
        grid-area: calculator;
        width: 90%;
        height: 316px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1%;
        grid-row-gap: 1%;
        color: white;
        text-align: center;
        vertical-align: middle;
        background-color: slategray;
    }

    .quicklaunch {
        grid-area: quicklaunch;
        display: grid;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border: 2px solid black;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px auto;
        grid-gap: 5px;
        padding: 0px;
        opacity: 0.75;
        grid-template-areas:
            "ql ql ql"
            "ql01 ql02 ql03"
            "ql04 ql05 ql06"
            "ql07 ql08 ql09"
            "ql10 ql11 ql12"
            "ql13 ql14 ql15";
    }

    .quicklaunch #ql {
        grid-area: ql;
        font-variant: small-caps;
        text-align: center;
        font-size: 40px;
        padding-top: 3px;
    }
}

@media (max-width: 768px) {
    body {
        background-image: none;
        margin: 5;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "greeting"
            "clock"
            "clock"
            "todo"
            "todo"
            "todo"
            "calendar"
            "calculator"
            "quicklaunch";
    }

    .greeting {
        text-align: center;
        background-color: white;
    }
    
    .greeting #greeting {
        font-size: 20px;
        font-weight: bold;
        line-height: 50%;
    }
    
    .greeting #phrase {
        font-size: 40px;
        line-height: 100%;
        width: 90%;
        margin-left: auto;
        margin-right:auto;
    }
    
    .greeting #attribution {
        font-size: 20px;
        font-style: italic;
    }

    .todo {
        width: 90%;

    }

    .todo .tasks {
        width: 98%;
        margin: 1% auto 0 auto;
        grid-column: 1/5;
        grid-row: 1/2;
        font-size: 30px;
        display: grid;
        grid-template-columns: 5px 5px 1fr 1fr 1fr;
        opacity: 1;
    }

    #todo {
        grid-column: 1/7;
        font-variant: small-caps;
    }
    
    .todo .when {
        grid-column: 2/7;
        font-size: 25px;
        border-top: 3px solid black;
        border-bottom: 1px solid slategray;
    }
    
    .todo .task {
        grid-column: 3/6;
        font-size: 20px;
    }
    
    .todo .due {
        grid-column: 6/7;
        font-size: 20px;
        text-align: right;
        margin-right: 5%;
    }

    .clock {
        grid-area: clock;
        text-align: center;
        font-size: 35px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "dte"
            "tme";
    }

    #tme #time {
        grid-row: 2/3;
        opacity: 1;
        font-size: 50px;
    }

    .calendar {
        grid-area: calendar;
        width: 43%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        text-align: center;
        margin-top: 22px;
    }

    .calculator {
        grid-area: calculator;
        width: 300px;
        height: 316px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1%;
        grid-row-gap: 1%;
        color: white;
        text-align: center;
        vertical-align: middle;
        background-color: slategray;
    }

    .quicklaunch {
        grid-area: quicklaunch;
        display: grid;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border: 2px solid black;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px auto;
        grid-gap: 5px;
        padding: 0px;
        opacity: 0.75;
        grid-template-areas:
            "ql ql ql"
            "ql01 ql02 ql03"
            "ql04 ql05 ql06"
            "ql07 ql08 ql09"
            "ql10 ql11 ql12"
            "ql13 ql14 ql15";
    }

    .quicklaunch #ql {
        grid-area: ql;
        font-variant: small-caps;
        text-align: center;
        font-size: 40px;
        padding-top: 3px;
    }
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "greeting greeting greeting greeting"
            "todo todo clock calendar"
            "todo todo clock calculator"
            "todo todo quicklaunch quicklaunch";
    }

    .greeting #phrase {
        font-size: 40px;
        line-height: 100%;
        width: 90%;
        margin-left: auto;
        margin-right:auto;
    }

    .clock {
        grid-area: clock;
        text-align: center;
        font-size: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #tme #time {
        opacity: 1;
        font-size: 40px;
    }

    .calendar {
        grid-area: calendar;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        text-align: center;
        margin-top: 22px;
    }

    .quicklaunch {
        grid-area: quicklaunch;
        display: grid;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border: 2px solid black;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px auto;
        grid-gap: 5px;
        padding: 0px;
        opacity: 0.75;
        font-size: 40px;
        grid-template-areas:
            "ql ql ql ql ql"
            "ql01 ql02 ql03 ql04 ql05"
            "ql06 ql07 ql08 ql09 ql10"
            "ql11 ql12 ql13 ql14 ql15";
    }
}