body {
    margin: 0;
    background-color: #ECECEC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #4D8E95;
    width: 100%;
    height: 156px;
}

#head {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 270px;
    height: 130px;
    background-color: #262B42;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 25px;
}

#nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.navButton {
    background-color: #212633;
    color: white;
    border: none;
    border-radius: 7px;
    height: 30px;
    text-transform: uppercase;
    align-items: center;
    padding: 0 15px 0 15px;
}

.navButtonActive {
    background-color: #365F64;
    color: white;
    border: none;
    border-radius: 7px;
    height: 30px;
    text-transform: uppercase;
    align-items: center;
    padding: 0 15px 0 15px;
}

#mainTop {
    width: 960px;
    height: 356px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #5FB1BC;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#mainTop img {
    width: 378px;
    height: 356px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.spaceTop {
    width: 75px;
}

#contentTop {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    
}

#tiles {
    width: 960px;
    margin: 15px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

#tiles .pic {
    width: 210px;
    height: 171px;
    border: 5px solid #5FB1BC;
    border-radius: 5px;
}

#tiles .shadow
{
	position: relative;
}
#tiles .shadow:before, .shadow:after
{
	position: absolute;
	z-index: -1;
	content: "";
	bottom: 25px;
	left: 10px;
	width: 95%;
	top: 80%;
	-webkit-box-shadow: 0 30px 15px black;
	-moz-box-shadow: 0 30px 15px black;
	box-shadow: 0 30px 15px black;
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-7deg);
}
#tiles .shadow:after
{
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
  right: 10px;
  left: auto;
}

#tile1 {
    width: 220px;
}

#tile2 {
    width: 220px;
}

#tile3 {
    width: 220px;
}

#tile4 {
    width:220px;
}

#mainLower {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 15px auto 0 auto;
}

#featured {
    background-color: white;
    border: 5px solid #5FB1BC;
    border-radius: 5px;
    margin: 0 20px 0 0;
}

#featuredTop {
    display: flex;
    justify-content: space-between;
}

#featuredTitle {
    background-color: #262B42;
    padding: 10px 5px;
    color: white;
    width: 115px;
    margin: -15px 0 0 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 15px;
}

#featuredImage {
    width: 90px;
    height: 90px;
    margin: 10px 0 0 15px;
    border-radius: 15px;
}

#featuredHead {
    margin: -10px 20% 0 0;
}

#featuredText {
    margin: 10px 15px 40px 15px;
}

#mainLowerRight {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
}

#hairstyle {
    background-color: #529093;
    border: 5px solid #5FB1BC;
    border-radius: 5px;
    color: white;
}

#hairstyleTitle {
    background-color: #262B42;
    padding: 10px 5px;
    color: white;
    width: 115px;
    margin: -15px 0 0 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

#hairstyleText {
    margin: 15px 15px;
}

#hairstyleText #attribution {
    font-size: 18px;
    text-align: right;
}

#ad {
    background-color: #529093;
    border: 5px solid #5FB1BC;
    border-radius: 5px;
    color: white;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#adImage {
    width: 190px;
    height: 238px;
    margin-top: -10px;
}

#adText {
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px 0 15px;
}

footer {
    height: 110px;
    background-color: #529093;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foot {
    width: 960px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#spaceBottom {
    width: 30%
}

#copyright {
    width: 30%;
    font-size: 12px;
}

#socal {
    background-color: #387A82;
    width: auto;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}

#social {
    width: 100%;
    color: #1B6068;
}